*{
    background: transparent;
     
}
.container{
    text-align: center;
    margin-top:23px;
    
}

table{
    margin: auto;
    height: 80px;
}

input{
    border-radius: 35px;
    border: 4px solid #99bbff;
    ;
    font-size:34px;
    height: 150px;
    width: 456px;
    padding: 5px;
}

button{
    border-radius: 50%;
    border-color: black;
    font-size: 40px;
    background: rgba(128, 128, 128, 0.63);
    box-shadow: inset 5px 5px 12px rgba(128, 128, 128, 0.63);
    color: #ffffff;
    width: 102px;
    height: 90px;
    margin: 6px;
}

.calculator{ 
    border: 7px solid #000000;
    background-color: #ffffff
    padding: 15px;
    border-radius: 45px;
    display: inline-block;
    
}

h1{
    font-size: 50px;
    color: #000000;
    font-family: 'Courier New', Courier, monospace;
}
